@import url('https://fonts.googleapis.com/css2?family=Genos&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;  
}

body {
    margin-top: 2rem;
    display: flex;
    flex-direction: column;
    gap: 30px;
    background-image: url(https://previews.123rf.com/images/iunewind/iunewind1403/iunewind140300100/26576728-numbers-background.jpg);
}

header {
    margin: auto;
    font-family: Genos,'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: 6rem;
    font-weight: bold;
    color: aqua;
    text-shadow: 
               -1px -1px 0px yellow, 
               -1px 1px 0px yellow,                    
                1px -1px 0px yellow,                  
                1px 0px 0px yellow;
}

section {
    font-family: Genos, 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: 30px;
    margin: auto;
    padding: 25px;
    background-color: rgba(211, 211, 211, .8);
    width: 50rem;
    border-radius: 30px;
    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: center;
}


div {
    margin-top: 20px;
    display: flex;
    gap: 40px;
}

input {
    width: 15rem;
    border-radius: 50px;
    display: inline-flexbox;
    display: flex;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-weight: bold;
    font-size: 30px;
    text-align: center; 
}
/*DESABILITANDO SETAS DO INPUT NUMBER*/
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

button {
    padding: 15px;
    font-weight: bold;
    cursor: pointer;
    font-size: 24px;
}
button:hover {
    background-color: black;
    color: white;
    font-weight: bolder;   
}

select {
    font-family: Genos, 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: 24px;
    font-weight: bold;
    margin-top: 50px;
    width: 23rem;
    border-radius: 20px;
    text-align: center;
    /*DESABILITANDO A SETA DE SELEÇÃO E SCROLL*/
    appearance: none;
}

option {
    text-align: center;
    font-weight: bold;
    font-size: 30px;
}

#clear {
    margin-top: 25px;
}


